{{> nav_verusuarios}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                   
                    
                    <a class="btn btn-default" href="/usuario/agregarUsuario" role="button">Agregar Usuario</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>